@page "/reports";

@using IPUC.AA.Back.Models
@using Presentation.Services.Interfaces
@using System.Globalization;
@inject IPaymentService PaymentService

<PageTitle>Reportes</PageTitle>

<h1>Abonos realizados</h1>

<div class="row g-3 align-items-center">
    <div class="col-auto">
        <label for="inputPassword6" class="col-form-label">Numero de documento</label>
    </div>
    <div class="col-auto">
        <input @bind="documentNumber" type="number" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
    </div>
    <div class="col-auto">
        <button onclick="@GetDebits" class="btn btn-outline-primary" type="submit">Buscar</button>
    </div>
</div>

@if (payments == null)
{
    <p><em>Cargando información...</em></p>
}
else
{
    <br />
    <table class="table" Responsive="true">
        <thead>
            <tr>
                <th class="col-lg-1"></th>
                <th class="col-lg-2">Nombre</th>
                <th class="col-lg-2">Cedula</th>
                <th class="col-lg-2">Cupos</th>
                <th class="col-lg-1">--></th>
                <th class="col-lg-2">Abonos</th>
                <th class="col-lg-2">Adeuda</th>
                <th class="col-lg-2">Total Abonado</th>
            </tr>
        </thead>
        <tbody>
            @for (int item = default(int); item < payments.Count(); item++)
            {
                <tr>
                    <td>@(item + 1)</td>
                    <td class="col-lg-2">@payments[item].Name</td>
                    <td class="col-lg-2">@payments[item].DocumentNumber</td>
                    <td class="col-lg-2">@payments[item].CampSpace</td>
                    <td class="col-lg-2">@payments[item].TypeTransport</td>
                    <td class="col-lg-2">@payments[item].TotalDebit</td>
                    <td class="col-lg-2">@payments[item].TotalCredit.ToString("C", ci)</td>
                    <td class="col-lg-2">@payments[item].Value.ToString("C", ci)</td>
                </tr>
            }
            <tr>
                <td class="col-lg-2"></td>
                <td class="col-lg-2"></td>
                <td class="col-lg-2"></td>
                <td class="col-lg-2"></td>
                <td class="col-lg-2">Totales</td>                
                <td class="col-lg-2">@payments.Sum(i => i.TotalDebit)</td>
                <td class="col-lg-2">@payments.Sum(i => i.TotalCredit)</td>
                <td class="col-lg-2">@payments.Sum(i => i.Value).ToString("C", ci)</td>
            </tr>
        </tbody>
    </table>
}
<div>
    <div class="row g-3 align-items-center">        
        <div class="col-auto">
            <button onclick="@GetTotals" class="btn btn-outline-success" type="submit">Mostrar</button>
        </div>
    </div>
    @if (paymentTotalModel != null)
    {
        <br />
        <h5>Registros Generales</h5>
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th class="col-lg-2">Cupos totales</th>
                    <th class="col-lg-2">Particular</th>
                    <th class="col-lg-2">Bus</th>
                    <th class="col-lg-2">Abonos</th>
                    <th class="col-lg-2">Deuda</th>                    
                    <th class="col-lg-2">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-lg-2">@paymentTotalModel.CampSpace</td>
                    <td class="col-lg-2">@paymentTotalModel.Car</td>
                    <td class="col-lg-2">@paymentTotalModel.Bus</td>
                    <td class="col-lg-2">@paymentTotalModel.Debits</td>
                    <td class="col-lg-2">@paymentTotalModel.Credits</td>
                    <td class="col-lg-2">@paymentTotalModel.PaymentsTotal</td>
                </tr>
            </tbody>
        </table>
    }
</div>

@code {
    private List<PaymentModel>? payments;
    private PaymentTotalModel? paymentTotalModel;
    private int documentNumber = default(int);    
    NumberFormatInfo ci = new CultureInfo("es-CO", false).NumberFormat;

    protected override async Task OnInitializedAsync()
    {
        ci.CurrencyDecimalDigits = 0;
        payments = await PaymentService.GetAllTotalDebits();
    }

    private async Task GetDebits()
    {
        if (documentNumber == default(int))
        {
            if (payments != null && payments.Count() == 1)
                payments = await PaymentService.GetAllTotalDebits();
            return;
        }

        PaymentModel response = await PaymentService.GetTotalDebits(documentNumber);
        if (response.CampSpace == default(int))
            return;
        List<PaymentModel> paymentModels = new List<PaymentModel>();
        paymentModels.Add(response);
        payments = paymentModels;
    }

    private async Task GetTotals()
    {
        paymentTotalModel = await PaymentService.GetAllTotals();
        return;
    }
}